@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Header-Top-Bar-(Hidden) -->
<div class="agileheader-topbar">
    <div class="container">
        <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid1">
            <p>Free shipping on orders over $150. <a href="payment.html">Details</a></p>
        </div>
        <div class="col-md-6 agileheader-topbar-grid agileheader-topbar-grid2">
            <ul>
                <li><a href="~/Views/Home/stores.cshtml">Store Locator</a></li>
                <li><a href="~/Views/Home/faq.cshtml">FAQ</a></li>
                <li><a class="popup-with-zoom-anim" href="#small-dialog1">Login</a></li>
                <li><a class="popup-with-zoom-anim" href="#small-dialog2">Sign Up</a></li>
                <li><a href="~/Views/Home/codes.cshtml">Codes</a></li>
                <li><a href="~/Views/Home/icons.cshtml">Icons</a></li>
                <li><a href="~/Views/Home/contactcs.html">Contact</a></li>
            </ul>
        </div>
        <div class="clearfix"></div>
    </div>



</div>
<!-- //Header-Top-Bar-(Hidden) -->
<!-- Popup-Box -->
<div id="popup1">
    <div id="small-dialog1" class="mfp-hide agileinfo">
        <div class="pop_up">
            <form action="@Url.Action("login", "Home")" method="post">
                <h3>LOGIN</h3>
                <input type="text" Name="Userame" placeholder="Username" required="">
                <input type="password" Name="Passwordl" placeholder="Password" required="">
                <ul class="tick w3layouts agileinfo">
                    <li>
                        <input type="checkbox" id="brand1" value="">
                        <label for="brand1"><span></span>Remember me</label>
                    </li>
                    <li>
                        <a href="#">Forgot Password?</a>
                    </li>
                </ul>
                <div class="send-button wthree agileits">
                    <input type="submit" value="LOGIN">
                </div>
            </form>
        </div>
    </div>
    <div id="small-dialog2" class="mfp-hide agileinfo">
        <div class="pop_up">
            <form action="@Url.Action("singup", "Home")" method="post">
                <h3>SIGN UP</h3>
                <input type="text" id="em" Name="Email" placeholder="Email" required="">
                <div id="result"></div>
                 @Scripts.Render("~/bundles/jquery")
                <script>


                    $(document).ready(function () {



                        $('#em').focusout(function () {

                                var email = $('#em').val();
                                $.getJSON("/home/CheckEmail?Email=" + email, function (data)
                                {
                                    if (data) {
                                        $('#result').text("email already exists in database");
                                        $('#SubBtn').hide();


                                    }
                                    else {
                                        $('#result').text(" ");
                                        $('#SubBtn').show();


                                    }
                                });

                            });

                        });

                </script>
                <input type="text" id="pn" Name="Phone Number" placeholder="Phone Number" required="">
                <div id="result1"></div>
                <script>


                    $(document).ready(function () {



                        $('#pn').focusout(function () {

                                var phone = $('#pn').val();
                                $.getJSON("/home/CheckPhone?Phone Number=" + phone, function (data)
                                {
                                    if (data) {
                                        $('#result1').text("phonenumber already exists in database");
                                        $('#SubBtn').hide();
                                    }
                                    else {
                                        $('#result1').text("");
                                        $('#SubBtn').show();


                                    }
                                });

                            });

                        });

                </script>
                <input type="text" Name="Name" placeholder="Name" required="">
                <input type="password" Name="Password" placeholder="Password" required="">

                <div class="send-button wthree agileits">
                    <input type="submit" value="SIGN UP" id="SubBtn"/>
                
                </div>
            </form>
        </div>
    </div>
</div>
<!-- //Popup-Box -->
<!-- Model-Slider -->
<div class="agilemodel-slider">
    <div id='film_roll_1'>
        <div><img src="~/images/model_slide-1.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-2.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-3.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-4.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-5.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-6.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-7.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-8.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-9.jpg" alt="Groovy Apparel"></div>
        <div><img src="~/images/model_slide-10.jpg" alt="Groovy Apparel"></div>
    </div>
</div>
<!-- //Model-Slider -->
<!-- Latest-Arrivals -->
<div class="wthreehome-latest">
    <div class="container">

        <div class="wthreehome-latest-grids">
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid1">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/images/home-latest-1.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>DENIM TOPS</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="@Url.Action("mens", "Home",new {cat ="women"})">Shop Now</a></h6>
            </div>
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid2">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/images/home-latest-2.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>LEATHER JACKETS</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="@Url.Action("mens", "Home",new {cat ="women"})">Shop Now</a></h6>
            </div>
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid3">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/images/home-latest-3.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>WATCHES</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="@Url.Action("mens", "Home",new {cat ="womenacess"})">Shop Now</a></h6>
            </div>
            <div class="col-md-6 wthreehome-latest-grid wthreehome-latest-grid4">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/images/home-latest-4.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
                <h4>BEACH WEAR</h4>
                <h5>Lorem Ipsum Dolor Site Amet</h5>
                <h6><a href="@Url.Action("mens", "Home",new {cat ="men"})">Shop Now</a></h6>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
</div>
<!-- //Latest-Arrivals -->
<!-- Winter-Collection -->
<div class="wthreewinter-coll">
    <div class="container">
        <h1>BRACE YOURSELVES! WINTER IS COMING...</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <div class="wthreeshop-a">
            <a href="@Url.Action("mens", "Home",new {cat ="women"})">SHOP WINTER COLLECTION</a>
        </div>
    </div>
</div>
<!-- //Winter-Collection -->
<!-- Denim-Collection -->
<div class="wthreedenim-coll">
    <div class="style-grids">
        <div class="col-md-6 style-grid style-grid-1">
            <img src="~/images/style-1.jpg" alt="Groovy Apparel">
            <div class="style-grid-1-text">
                <h3>DENIM JEANS</h3>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur.</p>
                <div class="wthreeshop-a">
                    <a href="@Url.Action("mens", "Home",new {cat ="women"})">SHOP DENIM COLLECTION</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 style-grid style-grid-2">
            <div class="style-image-1">
                <img src="~/images/style-2.jpg" alt="Groovy Apparel">
                <div class="style-grid-2-text">
                    <h3>WATER REPELLENT</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                </div>
            </div>
            <div class="style-image-2">
                <img src="~/images/style-3.jpg" alt="Groovy Apparel">
                <div class="style-grid-2-text">
                    <h3>STITCHED TO PERFECTION</h3>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- //Denim-Collection -->
<!-- Clearance-Sale -->
<div class="aitsclearance-sales">
    <div class="aitsclearance-sales-text">
        <h2>ALL CLEARANCE ITEMS</h2>
        <h4>BUY ONE AND GET ONE FREE</h4>
        <h5>50% OFF <small>On selected products<sup>*</sup></small></h5>
        <div class="wthreeshop-a">
            <a href="@Url.Action("mens", "Home",new {cat ="men"})">SHOP NOW</a>
        </div>
    </div>
</div>
<!-- //Clearance-Sale -->
<!-- Shopping -->
<div class="agileshopping">
    <div class="container">

        <div class="agileshoppinggrids">
            <div class="col-md-6 agileshoppinggrid agileshoppinggrid1">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/images/mens.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-6 agileshoppinggrid agileshoppinggrid2">
                <div class="grid">
                    <figure class="effect-apollo">
                        <img src="~/images/womens.jpg" alt="Groovy Apparel">
                        <figcaption></figcaption>
                    </figure>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="agileshoppinggrids-bottom">
            <h3>CHOOSE THE BEST FOR YOU</h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock.</p>
            <div class="agileshoppinggrids-bottom-grids">
                <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid1">
                    <div class="wthreeshop-a">
                        <a href="@Url.Action("mens", "Home",new {cat ="men"})">SHOP MEN</a>
                    </div>
                </div>
                <div class="col-md-6 agileshoppinggrids-bottom-grid agileshoppinggrids-bottom-grid2">
                    <div class="wthreeshop-a">
                        <a href="@Url.Action("mens", "Home",new {cat ="women"})">SHOP WOMEN</a>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
</div>
<!-- //Shopping -->
<!-- Newsletter -->
<div class="agileinfonewsl">

    <h3>SIGN UP FOR NEWSLETTER</h3>
    <p>Subscribe to us to get highest-level access to our new styles and trends</p>
    <div class="wthreeshop-a">
        <a class="popup-with-zoom-anim" href="#small-dialog3">SUBSCRIBE</a>
    </div>

    <!-- Popup-Box -->
    <div id="popup2">
        <div id="small-dialog3" class="mfp-hide agileinfo">
            <div class="pop_up">
                <h4>SUBSCRIBE</h4>
                <form action="#" method="post">
                    <input class="email aitsw3ls" type="email" placeholder="Email" required="">
                    <input type="submit" class="submit" value="SUBSCRIBE">
                </form>
            </div>
        </div>
    </div>
    <!-- //Popup-Box -->

</div>
<!-- //Newsletter -->
